#main-navbar {
    background-color: #ededed;
    border-right: 1px solid #e9ecef;

    position: fixed;
    top: 0;
    left: 0;

    width: 15vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-body {
    margin-left: 15vw;
    padding: 1%;
    background-color: #ffffff;
    min-height: 100dvh;
}