/* MAIN NAVBAR STYLES */

#main-navbar {
    background-color: #333436;
    border-right: 1px solid #e9ecef;

    position: fixed;
    top: 0;
    left: 0;

    width: 15vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-navbar ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-links {
    color: #ededed;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    padding: .5rem;
    margin: 1.5rem;
    display: block;
    text-decoration: none;
    transition: font-size 0.4s ease-in-out;
}

.navbar-links:hover {
    color: #bababa;
    font-size: 1.6rem;
    font-weight: 500;
}

/* MAIN BODY STYLES */

button, input, select, option {
    cursor: pointer;
}

#main-body {
    margin-left: 15vw;
    padding: 1%;
    background-color: #ededed;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.page-title {
    font-size: 3rem;
    font-weight: 500;
    color: #333436;
    text-transform: capitalize;
    margin-bottom: 2vh;
}

/* SYMPTOM LIST (SymptomList.jsx) STYLES */

#symptoms-stats-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    margin: 5vh 0;
}

.stats-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #c4c6c9;
    border: 2px solid #333436;
    border-radius: 15px;
    padding: 2%;
}

#symptom-list-symptoms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    justify-items: center;
    margin: 1vw;
}

.symptom-card {
    margin: 1%;
    padding: 1vw;

    border: 1px solid #e9ecef;
    border-radius: 8px;
    background-color: #333436;

    height: 55vh;
    width: 72%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    overflow: scroll;
}

.symptom-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.symptom-card-links {
    list-style-type: none;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    transition: font-size 0.4s ease-in-out;
    border-bottom: 3px solid #ededed;
}

.symptom-card-links:hover {
    color: #bababa;
    font-size: 1.95rem;
}

.symptom-description {
    color: #ededed;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 300;

    padding: 5%;  
}

.symptom-add-info {
    background-color: #333436;
    color: #ededed;
    font-style: italic;
    font-weight: 200;
}

/* NEW SYMPTOM (NewSymptom.jsx) STYLES */

.new-symptom-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.symptom-form-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 3px solid #333436;
    border-radius: 8px;

    padding: 2%;
    margin: 5vh 0;

    height: 50vh;
    width: 30vw;
}

.new-symptom-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.symptom-form-label {
    font-size: 1.2rem;
    font-style: italic;
}

.symptom-form-options {
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.symptom-form-options > * {
    width: 100%;
}

.form-options-text {
    font-size: 1rem;
    padding: 2%;
}

.symptom-form-btn {
    width: min-content;
    padding: 1%;
    font-size: 1.1rem;
    color: #ededed;
    margin-left: auto;
    border-radius: 5px;
    background-color: #333436;

    transition: font-size 0.4s ease-in-out;
}

.symptom-form-btn:hover {
    color: #bababa;
    font-size: 1rem;
}

.form-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: 0 2%;
}


/* SYMPTOM (Symptom.jsx) STYLES */

#symptom-summary {
    background-color: #333436;
    color: #ededed;
}

#symptom-summary .page-title {
    color: #ededed;
}


/* EDIT (EditSymptom.jsx) STYLES */

.edit-symptom-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-symptom-btns .symptom-form-btn {
    margin-left: 0;
}